* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Iceberg', 'Roboto',;
}x

.iceberg-regular {
    font-family: "Iceberg", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body {
    background: linear-gradient(135deg, #091029, #2f2e2e, #100012);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    color: white;
    max-width: 600px;
    height: 310px;
    z-index: 2;
    animation: fadeIn 1s ease-in;
}

h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: #6cd87c;
    text-shadow: 0 0 10px rgba(94, 255, 108, 0.7);
}

p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #e6e6e6;
    margin-top: 5%;
    font-family: 'Roboto' sans-serif;
}

.play-btn {
    display: inline-block;
    padding: 1rem 3rem;
    background-color: #6cd87c;
    color: #000000;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(94, 255, 108, 0.7);
    animation: float 3s ease-in-out infinite;
    margin-top: 3%;
}

.play-btn:hover {
    background-color: #a1e2b9;
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(20, 143, 43, 0.9);
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0); }
}

@font-face {
    font-family: Iceberg;
    src: url(Iceberg-Regular.ttf);
  }

.floating {
    animation: float 3s ease-in-out 1s;
}